{% extends 'main_base.html' %}
{% load static %}

{% block css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile/profile.css' %}" />
{% endblock %}

{% block content %}
{% with page="0" %}

<!-- header -->
<div id="profile-header">
  <h3>{{ other_user.first_name }} {{ other_user.last_name }}</h3>
  <p>{{posts_count}} Posts</p>
</div>

<!-- banner and profile photo -->
<div id="profile-banner-container">
  {% if other_user.banner_photo %}
    <div id="profile-banner" style="background-image:url('{{ other_user.banner_photo.url }}')"></div>
  {% else %}
    <div id="profile-banner"></div>
  {% endif %}

  <div id="profile-banner-bottom-part">
      {% if other_user.profile_photo %}
        <div id="profile-photo" style="background-image:url('{{ other_user.profile_photo.url }}')"></div>
      {% else %}
        <div id="profile-photo"><i class="ri-user-3-line" style="font-size: 96px; color: #ebeef0"></i></div>
      {% endif %}

      <div id="clear"></div>
      <form method="POST" action="{% if already_follower == False %} {% url 'content:other_user_profile' other_user.username %} {% else %} {% url 'content:actionunfollow' other_user.username %} {% endif %}">
          {% csrf_token %}
          {% if already_follower == False %}
            <input type="submit" id="follow-submit-btn" value="Follow" name="other_user_profile_follow_submit_btn" class="btn-follow"/>
          {% else %}
            <input type="submit" id="follow-submit-btn" value="Following" name="other_user_profile_follow_submit_btn" class="btn-unfollow" title="UnFollow"/>
          {% endif %}
      </form>
      <div id="clear"></div>
  </div>

</div>

<!-- bio -->
<div id="profile-bio">
  <h3>{{ other_user.first_name }} {{ other_user.last_name }}</h3>
  <p id="bio-username">@{{ other_user.username }}
    {% if follow_current_user %}
      <span id="bio-follow-you">Followes you</span>
    {% endif %}
  </p>

  {% if other_user.bio %}
    <p id="bio-bio">{{ other_user.bio }}</p>
  {% else %}
    <p id="bio-bio"></p>
  {% endif %}
  

  <p id="bio-date"><i class="ri-calendar-line"></i> Joined {{ date_joined }}</p>

  <p id="bio-followers"><b>{{followings_count}}</b>Following <span id="right-space"></span> <b>{{followers_count}}</b>Followers</p>
</div>


<!-- navigation -->
<div id="profile-nav">
  <p><a href="{% url 'content:other_user_profile' other_user.username %}">Posts</a></p>
</div>


<!-- posts -->

{% for post in posts %}
  <div id="post-cell">
    <div id="post-cell-left-part">
      {% if post.author.profile_photo %}
        <div id="post-cell-left-part-profile-photo" style="background-image:url('{{ post.author.profile_photo.url }}')"></div>
      {% else %}
        <div id="post-cell-left-part-profile-photo"><i class="ri-user-3-line" style="font-size: 30px; color: #ebeef0"></i></div>
      {% endif %}
    </div>

    <div id="post-cell-right-part">
      <p id="post-cell-header"><b><a href="{% url 'content:other_user_profile' other_user.username %}">{{ post.author.first_name }} {{ post.author.last_name }}</a></b> @{{ post.author.username }} · {{ post.created_time }}</p>
      <p>{{ post.content|linebreaks }}</p>

      {% if post.image %}
        <div id="post-image" style="background-image:url('{{ post.image.url }}')"></div>
      {% endif %}

      <div id="post-cell-right-part-bottom-links">
        <form id="post-cell-comment-form" method="POST" action="{% url 'content:other_user_profile' other_user.username %}" >
          {% csrf_token %}
          <input type="hidden" value="{{ post.id }}" name="hidden_post_id" />
          <button type="submit"><i class="ri-chat-3-line"></i></button>
          <p>{{ post.comment_count }}</p>
          <input type="hidden" value="&#128262;" name="other_profile_post_comment_form_submit_btn"/>
          
        </form>

        <form id="post-cell-like-form" method="POST">
          {% csrf_token %}
          <input type="hidden" value="{{ post.id }}" name="hidden_post_id" />
          {% if post.is_liked %}
          <button type="submit"><i class="ri-heart-fill" style="color: black"></i></button><p>{{ post.like_count }}</p>
          {% else %}
          <button type="submit"><i class="ri-heart-3-line" ></i></button><p>{{ post.like_count }}</p>
          {% endif %}
          <input type="hidden" value="&#128156;" name="other_profile_post_like_form_submit_btn" />
          
        </form>
      </div>

    </div>
  </div>
{% endfor %}

{% endwith %}
{% endblock %}
