{% extends 'main_base.html' %}
{% load static %}

{% block css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile/profile.css' %}" />
{% endblock %}

{% block content %}
{% with page="0" %}

<!-- header -->
<div id="profile-header">
    <h3>{{ current_user.first_name }} {{ current_user.last_name }}</h3>
    <p>{{posts_count}} Posts</p>
</div>

<!-- banner and profile photo -->
<div id="profile-banner-container">
  {% if current_user.banner_photo %}
    <div id="profile-banner" style="background-image:url('{{ current_user.banner_photo.url }}')"></div>
  {% else %}
    <div id="profile-banner"></div>
  {% endif %}

  <div id="profile-banner-bottom-part">
      {% if current_user.profile_photo %}
        <div id="profile-photo" style="background-image:url('{{ current_user.profile_photo.url }}')"></div>
      {% else %}
        <div id="profile-photo"><i class="ri-user-3-line" style="font-size: 96px; color: #ebeef0"></i></div>
      {% endif %}

      <div id="clear"></div>
      <a href="{% url 'content:settings' %}">Edit profile</a>
      <div id="clear"></div>
  </div>

</div>

<!-- bio -->
<div id="profile-bio">
  <h3>{{ current_user.first_name }} {{ current_user.last_name }}</h3>
  <p id="bio-username">@{{ current_user.username }}</p>

  {% if current_user.bio %}
    <p id="bio-bio">{{ current_user.bio }}</p>
  {% else %}
    <p id="bio-bio"></p>
  {% endif %}
  

  <p id="bio-date">{{ current_user.created_time }}</p>

  <p id="bio-followers"><b>{{followings_count}}</b>Following <span id="right-space"></span> <b>{{followers_count}}</b>Followers</p>
</div>


<!-- navigation -->
<div id="profile-nav">
  <p><a href="{% url 'content:profile' %}">Posts</a></p>
</div>


{% for post in posts %}
<!-- posts -->
<div id="post-cell">
  <div id="post-cell-left-part">
    {% if post.author.profile_photo %}
      <div id="post-cell-left-part-profile-photo" style="background-image:url('{{ post.author.profile_photo.url }}')"></div>
    {% else %}
      <div id="post-cell-left-part-profile-photo"><i class="ri-user-3-line" style="font-size: 30px; color: #ebeef0"></i></div>
    {% endif %}
  </div>

  <div id="post-cell-right-part">
    <p id="post-cell-header"><b><a href="{% url 'content:other_user_profile' post.author.username %}">{{ post.author.first_name }} {{ post.author.last_name }}</a></b> @{{ post.author.username }} · {{ post.created_time }}</p>
    <p>{{ post.content|linebreaks }}</p>

    {% if post.image %}
      <div id="post-image" style="background-image:url('{{ post.image.url }}')"></div>
    {% endif %}

    <div id="post-cell-right-part-bottom-links">
      <form id="post-cell-comment-form" method="POST" action="{% url 'content:profile' %}" >
        {% csrf_token %}
        <input type="hidden" value="{{ post.id }}" name="hidden_post_id" />
        <input type="submit" value="&#128262;" name="profile_post_comment_submit_btn"/>
        <p>{{ post.comment_count }}</p>
      </form>

      <form id="post-cell-like-form" method="POST" action="{% url 'content:profile' %}">
        {% csrf_token %}
        <input type="hidden" value="{{ post.id }}" name="hidden_post_id" />
        <input type="submit" value="&#128156;" name="profile_post_like_submit_btn" />
        <p>{{ post.like_count }}</p>
      </form>
    </div>

  </div>
</div>
{% endfor %}


{% endwith %}
{% endblock %}
