{% load static %}

<html lang="en-US">
  <head>
    <title>ZED</title>

    <!-- Meta Info -->
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="demir antay" />

    <!-- FAVICON -->
    <link rel="icon" href="{% static 'branding/logo.png' %}" />

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Prata" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap" rel="stylesheet" />

    <!-- FONT AWSOME -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <!-- REMIX ICON -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />

    <!-- BASE CSS LINKS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

    {% block css_link %} {% endblock %}
  </head>

  <body>
    {% block content %} {% endblock %}
  </body>
</html>
